*{
    font-family: 'Indie Flower', cursive;
}

/* Header */
.header{
    /* background-image: url(../Img/Imagen_Prueba.png); */
    /* background-position: center;
    background-size: cover; */
} 

/* .espacioNavegadorDescripcion{
    height: 65vmin;
} */

/* Habilidades */
.card-img-filter{
    filter: brightness(0.5);
}

/* Proyectos */

.media-object-img{
    --tamano: 65px;
    width: var(--tamano);
    height: var(--tamano);
    
} 
