/* Toda la página */
* {
  font-family: "Nunito", sans-serif;
}

/* Habilidades */
.card-img-filter {
  filter: brightness(0.7);
  --tamano: 350px;
  height: var(--tamano);
}

/* Proyectos */
.media-object-img {
  --tamano: 65px;
  width: var(--tamano);
  height: var(--tamano);
}
